.ziwo {
  padding: var(--pad);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;

  .ziwo-div {
    width: 70%;
    .ziwo-p {
      text-align: center;
      font-size: 25px;
      
    }
    h4 {
      color: var(--gold);
      margin: 30px 0px;
      font-size: 25px;
    }
    .ziwo-p2{
        font-size: 20px;
        color: var(--gray);
        
    }
  }
}

@media (max-width: 1600px) {
  .ziwo{
    img{
      width: 250px;
    }
    .ziwo-div{
      h4{
        margin: 20px 0;
      }
    }
  }
}
@media (max-width:1200px) {
 .ziwo{
  flex-direction: column;
  img{
    width: 100%;
    margin-bottom: 20px;
  }
  .ziwo-div{
    width: 100%;
  }
 } 
}