.partner {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .parent {
    width: 50%;
    /* padding: 20px; */
  }
  .gupshup {
    width: 50%;
  }
  .list-whatsApp {
    list-style: none;
    margin-top: 10px;
    font-size: 25px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
    li {
      margin-top: 10px;
      color: var(--white);
      font-size: 20px;
    }
  }
  .list-whatsApp:hover {
    transform: translate3d(0px, 0px, 20px);
  }
}
.card {
  padding-top: 30px;
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.3, 1, 0, 20deg);
}
.content-box {
  background: var(--gold);
  transition: all 0.5s ease-in-out;
  padding: 20px;
  transform-style: preserve-3d;
}
.whatsApp {
  width: 100%;
  height: 100%;
}
.content-box .card-title {
  display: inline-block;
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 20px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}
.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  color: black;
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
  border-radius: 5px;
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 80px;
  width: 80px;
  background: white;
  border: 1px solid var(--gold);
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  border-radius: 5px;
}

.date-box span {
  display: block;
  text-align: center;
}

@media (max-width: 1400px) {
  .partner {
    .parent {
      width: 70%;
    }
    .gupshup {
      width: 30%;
    }
  }
}
@media (max-width: 800px) {
  .partner {
    flex-direction: column;
    .parent {
      width: 100%;
    }
    .gupshup {
      width: 100%;
    }
  }
}
