.partner {
  margin-top: 50px;
  padding: var(--pad);
  .parent {
    width: 100%;
  }

  .list-whatsApp {
    list-style: none;
    margin-top: 10px;
    font-size: 25px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
    li {
      margin-top: 10px;
      color: var(--white);
      font-size: 20px;
    }
  }
  .list-whatsApp:hover {
    transform: translate3d(0px, 0px, 20px);
  }
}
.card-partner-whatsapp{
  display: flex;
  align-items: center;
  div{
    width: 150px !important;
  }
}
.App {
  padding: var(--pad);
  margin-top: 50px;
}
.whatsAppSolution {
  position: relative;
  margin-left: 20px;

  h3 {
    font-size: 30px;
    color: var(--gold);
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
}
.whatsAppSolution::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  background-color: var(--gold);
  left: -20px;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .card-partner {
    width: 50%;
    .gupshup {
      width: 500px;
      /* height: 215px; */
    }
    h3 {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 16px;
      color: var(--gray);
      font-size: 20px;
      span {
        color: var(--black);
        font-weight: 600;
      }
    }
  }
  .whatsapp-business {
    box-shadow: 0 0 25px var(--gold);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 30%;
    padding: 20px 0;
    .message {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #fcb90065;
      svg {
        color: var(--gold);
        font-size: 30px;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    ul {
      list-style: none;

      svg {
        color: var(--gold);
      }
      li {
        margin-bottom: 16px;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
.featuresWhatsApp {
  margin-top: 130px;
  padding: var(--pad);
  .titlefeature {
    h3 {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 80px;
      position: relative;
    }

    h3::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: var(--gold);
      top: 100%;

      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.allcardFeaturewhats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .parent {
    .whatsapp-business {
      width: 45%;
    }
  }
  .allcardFeaturewhats {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

   .card-partner-whatsapp{
    flex-direction: column-reverse;
    align-items: start;
  }
}

@media (max-width: 992px) {
  .parent {
    flex-direction: column;
    gap: 20px;
    .whatsapp-business {
      width: 100%;
    }
    .card-partner {
      width: 100%;
      .gupshup{
        width: 100%;
        /* height: 270px; */
      }
    }
  }
 
}
