.propertyFinder {
  width: 100%;
  height: 100vh;
  background-image: url(/sp-blog-image-9.webp);
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
  }
  .div-finder {
    width: 50%;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.192);
    box-shadow: 0 0 25px var(--white);
    h3 {
      margin-bottom: 10px;
      font-size: 30px;
      color: var(--gold);
    }
    p{
        color: var(--white);
        font-size: 18px;
    }
  }
}

.sec2-property{
padding: var(--pad);
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 130px;
p{
    font-size: 25px;
    span{
        color: var(--gold);
    }
}
div{
    width: 50%;
}
.img-property{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    gap: 20px;
    img{
    width: 500px;
    height: 250px;
}
}

}
.finall{
  padding: var(--pad);
  p{
    color: var(--gray);
    font-size: 25px;
    font-weight: 700;
  }
}
@media (max-width:1200px) {
 .sec2-property{
  .img-property{
    img{
      width: 300px;
      height: 200px;
    }
  }
 }
 .propertyFinder{
  .div-finder{
    h3{
      font-size: 25px;
    }
  }
 }
}
@media (max-width:700px) {
 .sec2-property{
 
  flex-direction: column;
  gap: 30px;
  .img-property{
   img{
     width: 100%;
     height: 250px;
   }
  }
  div{
    width: 100%;
  }
 }
  .propertyFinder{
  .div-finder{
    h3{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
  }
 }
}