
.slider{
    margin-top: 130px;
    padding: var(--pad);
}
.swiper {
  width: 100%;
  height: 100%;
 overflow-y: visible !important;
  overflow-x: clip !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  top: 200px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img:hover{
    border: 1px solid var(--gold);
}
.swiper-pagination-bullet-active {
    background-color: var(--gold) !important;
}
.swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
}
