.contact-form {
  padding: var(--pad);
  margin-top: 130px;
}
.container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .btn:hover {
  transform: scale(0.995);
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px var(--gold);
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: var(--gold);
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}

.form .btn {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  border: solid 1px var(--gold);
  border-bottom: solid 1px #e2f59d;
  background: linear-gradient(135deg, var(--gold), #e5f175);
  color: #fff;
  font-weight: bolder;
  transition: all 0.2s ease;
}

.report {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-repore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.p-repore a,
.p-repore .icon {
  color: gray;
}
 .s-one {
  color: #2fc7f7;
}
 .s-two{
    color: #215f98;;
}

/* working hours */
.working{
    margin-top: 50px;
    
    h3{
        font-size: 40px;
        color: var(--gold);
        text-align: center;
        margin-bottom: 20px;
    }
    .all-day{
        width: 50%;
        margin: 0 auto;
        padding: 20px 40px;
        border-right: 5px solid var(--gray);
        border-bottom: 5px solid var(--gray);
    }
    .day{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        P{
            font-size: 20px;
        }
        p:not(:last-child){
            font-weight: 600;
        }
    }
    .day:not(:last-child){
        border-bottom: 1px dashed var(--gold);
    }
}


@media (max-width:1400px) {
  .working{
  .all-day{
    width: 100%;
  }  }
}
@media (max-width:992px) {
.container{
  flex-direction: column;
}
.form{
  width: 100%;
}
}
@media (max-width:650px) {
  .working{
    .day{
      flex-direction: column;
      padding: 15px 5px;
      p{
        font-size: 15px;
      }
    }
  }
}