.card-pricing{
    width: 384px;
    padding: 24px ;
    border: 1px solid var(--gold);
    border-radius: 10px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     transition: box-shadow 0.3s ease-in-out;

    h4{
        font-size: 24px;
        margin-bottom: 3px;
        text-align: center;
    }
    .number-user{
        color: var(--gray);
        text-align: center;
    }
    .price{
        color: var(--gray);
    }
    .price span{
        font-size: 32px;
        color: var(--gold);
    }
}
.oldPrice{
    color: var(--gray);
    text-decoration: line-through;
    font-size: 20px;
}
.rate-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transform: skewX(10deg);
    background-color: var(--gold);
    border-radius: 5px;
}
.array{
    display: flex;
    align-items: center;
    gap: 5px;
    p{
        margin-top: 5px;
    }
}
.btn-get{
      padding:20px;
  border-radius: 10px;

  background: linear-gradient(#d7cfcf, #cfe591);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-get:hover{
      transition: 0.5s ease-in-out;
  background: linear-gradient(#d4d6f3, var(--gold));
}