.infoBitrix{   
    padding: var(--pad);
     padding-top: 150px;
    h2{
        font-size: 30px;
        color: var(--gold);
        text-align: center;
        margin-bottom: 5px;
    }
    .p-info{
        font-size: 45px;
        text-align: center;
    }
   
}
.div-property{
  text-align: center;
  margin-top: 130px;
  h3{
    font-size: 30px;
    color: var(--gold);
    margin-bottom: 10px;
  }
  p{
    line-height: 1.9;
    color: var(--gray);
    font-size: 18px;
  }
}
.customar-services{
  width: 100%;
}
@media (max-width:1500px) {
  .infoBitrix{
    padding-top: 250px;
  }
}
@media (max-width:500px) {
  .infoBitrix{
    .p-info{
        font-size: 30px;
    }
  }
}