.card-line {
  background-color: var(--black);
  color: var(--gold);
  padding: 100px 0;
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px
  );
  background-size: 20px 20px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 70px), 0 100%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -100px 90px rgb(27, 24, 24) inset;
  position: relative;
    z-index: 1;
    overflow: hidden;
}
.card-line h4 {
  font-size: 60px;
  font-weight: 600;
 
}
body.dark-mode{
  .card-line{
     background-image: radial-gradient(
    circle at center,
    rgba(14, 8, 8, 0.1) 2px,
    transparent 2px
  );
  box-shadow: none;
  }
}
@media (max-width:600px) {
  .card-line h4{
    font-size: 40px;
    text-align: center;
  }
}
