.innovation {
  margin-top: 130px;
  padding: var(--pad);
  h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.6),
      0 0 20px rgba(255, 215, 0, 0.4);
  }
  .all-p {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 5px;
    padding: 20px 0px;

    div {
      width: 650px;
      min-height: 230px;
      text-align: start;
      color: var(--gray);
      border: 1px solid var(--gray);
      border-radius: 12px;
      padding: 20px;

      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1570px) {
  .innovation {
    .all-p {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}
@media (max-width:600px) {
  .innovation {
    h2{
      font-size: 40px;
    }
  }
}