.dropdown {
  padding: var(--pad);
  margin-top: 30px;
  .btn-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    color: var(--gray);
  }
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.div-dropdown {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  ul {
    list-style: none;
    li {
      font-size: 18px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      svg{
        color: var(--gold);
      }
    }
  }
}

.btn-dropdown:hover .arrow {
  transform: scale(1.1);
  color: white;
}
.div-dropdown.active  {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: 100%;
  padding: 10px;
  
}
/* .dropdown:hover .div-dropdown {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: 100%; 
  padding: 10px;
} */
.dropdown:hover .arrow {
  transform: rotate(180deg);
}
.dropdown:has(.div-dropdown.active) .arrow {
  transform: rotate(180deg);
}
