.export {
  display: flex;
  align-items: center;

  gap: 70px;
  padding: var(--pad);
  margin-top: 130px;

  img {
    width: 700px;
    height: 600px;
  }
  .card-export {
    width: 500px;
    .access-p {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      background: linear-gradient(#f6f8dd, #d7cfcf);
    }
    .access-p:hover {
      background: linear-gradient(#d7cfcf, var(--gold));
    }
    h3 {
      margin-bottom: 20px;
      font-size: 38px;
    }
    .export-p {
      font-size: 25px;
      color: var(--gray);
    }
  }
}
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;

  border: 2px solid var(--gold);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  margin-top: 20px;
}
.button a {
  text-decoration: none;
  color: var(--gold);
}
.button:hover a {
  color: #212121;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--gold);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}
@media (max-width: 1570px) {
  .export {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .export {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
