.features {
  margin-top: 130px;
  padding: var(--pad);
  p {
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.h3-feature {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--gold);
}

.Card-bayut {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .card-title {
    color: black;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--gold);
    border-radius: 0 4px 0 32px;
  }

  .card1 {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 20px auto;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e5d2a0;
    background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
      repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #ffffff 0 18.75%);
        box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  }

  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, var(--gold), #e2ba53);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.45s ease-out;
  }

  .card1:hover:before {
    transform: scale(28);
  }

  .card1:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.9);
  }

  .card1:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
}

@media (max-width: 1200px) {
  .Card-bayut {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 712px) {
  .Card-bayut {
    grid-template-columns: repeat(1, 1fr);
  }
}
