.ziwo-card {
  padding: var(--pad);
  margin-top: 130px;
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px
  );
  background-color: var(--black);
  background-size: 20px 20px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 60px;
  
  padding: 50px;
}

@media (max-width:1700px) {
 .row{
    gap: 15px 30px;
    
 } 
 .card-ziwo{
    padding: 30px;
 }  
}
@media (max-width:1500px) {
 .row{
     grid-template-columns: repeat(2, 1fr);
 }   
  .card-ziwo{
    padding: 15px;
 }  
}
@media (max-width:800px) {
 .row{
     grid-template-columns: repeat(1, 1fr);
 }   
 
 }