footer {
  width: 100%;
  padding: var(--pad);
  margin-top: 130px;
  .p-footer{
    margin-top: 50px;
    font-size: 20px;
    color: var(--gray);
    text-align: center;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  img {
    width: 400px;
  }
  .contact {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 20px;
      color: var(--gray);
    }
    ul{
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
      svg{
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s;
      }
      svg:hover{
        scale: 1.3;
      }
      .instagram{
        color:brown;
      }
    }
  }
  .email {
    position: relative;
    text-decoration: none;
    color: var(--gray);
  }
}

@media (max-width:1750px) {
 .footer{
   flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 30px;
   .contact{
  align-items: center;
 }
 } 

}

@media (max-width:600px) {

.footer{
  img{
    width: 100%;
  }
}
}