.all-card-crm{
.card {
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 400px;
  min-height: 500px;
  background-color: var(--black);
  /* background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%); */

  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border {
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 100%) -50%,
    hsl(0, 0%, 40%) 100%
  );

  border-radius: 1rem;
}

.card .card_title__container .card_title {
  font-size: 25px;
  color: var(--white);
}

.card .card_title__container .card_paragraph {
  margin-top: 15px;
  
  font-size: 20px;
  color: var(--paragraph);
}

.card .line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--line);

  border: none;
}

.card .card__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.card .card__list .card__list_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .card__list .card__list_item .check {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1rem;
  height: 1rem;
  background-color: var(--gold);

  border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
  width: 0.75rem;
  height: 0.75rem;

  fill: var(--black);
}

.card .card__list .card__list_item .list_text {
  font-size: 18px;
  color: var(--white);
}

}


@media (max-width:1500px) {
   .all-card-crm {
    .card {
        width: 350px;
    }} 
}
@media (max-width:800px) {
   .all-card-crm {
    .card {
        width: 100%;
    }}
}