.card-value {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--white);
  border-top: 1px solid var(--gray);
}
.card-value.border{
   border-bottom: 1px solid var(--gray); 
}
.number-and-title {
  display: flex;
  align-items: center;
  gap: 15px;
  h4{
    font-weight: 500;
    font-size: 25px;
  }
  .number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
  }
}
@media (max-width:1570px) {
    .card-value{
      width: 70%;
    }
}
@media (max-width:1000px) {
  .card-value{
    width: 100%;
  }
}
@media (max-width:600px) {
  .card-value{
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
