.ziwo-integration {
  padding: var(--pad);
  margin-top: 130px;
  .img-integration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
    }
  }
  .sec-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    div {
      width: 60%;
      h3{
        color: var(--gold);
        margin-bottom: 15px;
        font-size: 25px;
      }
      p{
        color: var(--gray);
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .sec-2{
    img{
    width: 250px;
    }
  }
}
@media (max-width:1200px) {
  .ziwo-integration{.sec-2{
    flex-direction: column;
    img{
    width: 100%;
    }
    div{
        width: 100%;
        h3{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
    }
  }}
}