.hero {
  width: 100%;
  height: 100vh;
  padding: var(--pad);
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-side {
    width: 700px;
    h2 {
      font-size: 70px;
      margin-bottom: 30px;
      color: var(--black);
    }
    p {
      color: var(--gray);
    }
    .chairman-keen {
      margin-top: 20px;
      color: var(--gold);
      text-shadow: 0 0 10px rgba(255, 215, 0, 0.6),
        0 0 20px rgba(255, 215, 0, 0.4);
    }
    .history {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      width: 90%;
      gap: 20px;
      h3 {
        color: var(--gold);
        margin-bottom: 20px;
      }
    }
  }
  .right-side {
    width: 45%;
    height: 500px;
    border: 1px solid var(--gold);
    padding: 20px;
    box-shadow: 0 0 25px var(--gold);
    border-radius: 16px;
    .box-1 {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
      }
    }
    .box-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 15px;
      /* background-color: var(--gold); */
      background: linear-gradient(180deg, #edcb78, #f7e4b2, #fee08b);
      color: var(--black);
      h3 {
        font-size: 25px;
      }
      ul {
        list-style: circle;
        margin-top: 20px;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
      }
      li {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
}
.flip-card {
  background-color: transparent;
  width: 240px;
  height: 154px;

  color: white;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background-color: #171717;
}

.flip-card-back {
  background-color: #171717;
  transform: rotateY(180deg);
}

.two-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
  padding: var(--pad);
  img {
    width: 49%;
  }
}

@media (max-width: 1570px) {
  .hero {
    .left-side {
      width: 500px;
      h2 {
        font-size: 50px;
      }
    }

    .right-side {
      height: 200px;
      .box-2 {
        ul {
          flex-direction: row;
          gap: 20px;
        }
      }
      .box-1 {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .hero {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .left-side,
  .hero .right-side {
    width: 100%;
  }

  .left-side {
    margin-bottom: 50px;
    .history {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 992px) {
  .hero {
    height: auto;
  }
  .two-img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  .hero {
    padding-top: 230px;
    .right-side {
      .box-2 {
        h3 {
          font-size: 18px;
        }
      }
    }
    .left-side {
      h2 {
        font-size: 40px;
      }
    }
  }
}
